@import url("./variables.css");

@import "./utils/utils.css";

/* Artwork styling */
#svg-art {
  transition: all 0.1s ease-in;
}

#svg-art #sun {
  animation: livesun 10s ease infinite;
}

#svg-art #ocean {
  animation: glowingocean 10s ease infinite;
}

#svg-art:hover {
  background-color: #222;
}

#svg-art:hover #sun {
  fill: hsl(57, 64%, 22%);
  stroke: #f3f1c9;
}

#svg-art:hover .overlay {
  opacity: 0.25;
}

.art-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.art-display {
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 400px;
}

.art-title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 1.25rem;
}

.art-title::after {
  content: "";
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  width: 90%;
}

/* Layout */
#app {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  grid-template-areas: "header" "content" "footer";
  overflow-x: hidden;
}

.main-content,
.site-footer {
  padding: 0 15px;
}

.site-header {
  display: flex;
  padding: 0.5rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001;
  grid-area: header;
  transition: background-color 0.2s ease-in-out;
}

.site-header.fixed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
}

.main-content {
  grid-area: content;
}

/* Navigation */
.nav {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.nav-bar {
  margin: 0;
  overflow: hidden;
  display: inline-flex;
  justify-content: flex-end;
  flex: 1 1 100%;
  list-style: none;
}

.nav-bar-vertical {
  display: inline-flex;
  padding: 0;
  flex-flow: column;
  flex: 1 1 100%;
  list-style: none;
}

.nav .nav-bar .nav-item {
  border-bottom: 1px solid transparent;
  transition: all ease-in 0.25s;
  padding: 0.5rem 0.5rem;
  margin-right: 0.5rem;
}

a.nav-link {
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  transition: all ease-in 0.25s;
  color: var(--white);
}

.muted a.nav-link {
  color: var(--muted);
}

.nav-bar-underline .nav-item:hover {
  border-color: var(--white);
}

.nav-bar-scale .nav-item:hover {
  transform: scale(1.025);
}

.nav-bar-scale .nav-item:hover > a.nav-link {
  color: var(--white-dim);
}

.nav-toggler {
  display: none;
  padding-right: 0.5rem;
  width: 32px;
  height: 32px;
  background: url(../assets/svgs/burger-bar.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.1s ease-in;
}

.site-header.toggled .nav-toggler {
  transform: rotate(-90deg);
}

@media (max-width: 768px) {
  .site-header .nav {
    height: 0;
  }
  .site-header.toggled .nav {
    height: 100%;
  }
  .site-header .nav-bar {
    flex-direction: column;
    height: 0;
  }

  .nav-toggler {
    display: block;
  }
}

/* Card */
.card {
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.35);
}

/******* CONTENT SECTIONS *******/
.main-content .section:last-of-type {
  margin-bottom: 1rem;
}

.section {
  position: relative;
}

.section:not(:first-of-type) {
  padding-top: 2rem;
}

.section-inner {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.section-title,
.section-content {
  flex: 1 1 100%;
}

.section-title {
  margin-bottom: 0.5rem;
}

.section-content {
  margin: 0;
}

/* Banner Section */
#banner {
  height: 100vh;
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: -15px;
  margin-left: -15px;
}

#banner .section-inner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateX(-50%) translateY(-50%);
}

#banner .section-title h1 {
  font-size: 2rem;
  color: var(--white);
  text-transform: uppercase;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}

#banner .section-content {
  color: var(--white-dim);
  font-size: 1.2rem;
}

#banner .section-content .cursive {
  font-weight: 300;
  font-size: 2.2rem;
}

#banner .section-content > .btn-group {
  margin-top: 2.5rem;
}

/* About Section */

#about .section-inner {
  left: 200%;
}

/* Artwork section */
#artwork .section-inner {
  right: 200%;
}

/* Documentation Section */
#documentation .section-inner {
  left: 200%;
}

#documentation .section-inner .section-title h2:hover {
  cursor: pointer;
  color: hsl(18, 60%, 63%);
}

#documentation .section-inner .section-title h2::after {
  content: "";
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background: url(../assets/svgs/arrow-down.svg);
}

#documentation .section-content ul {
  padding: 0;
  display: none;
  list-style: none;
  overflow: hidden;
}

#documentation .section-content ul li:not(:first-of-type) {
  margin-top: 1rem;
}

/* Footer */

.site-footer {
  grid-area: footer;
  background: hsl(240, 6%, 7%);
  color: var(--white);
}
